<div>
	<h1>Index Page</h1>
	<div>
		<%= link_to "New Post", new_post_path %>
	</div>
<div>
<div>
	<% @posts.each do |post| %>
	<div>
		<%= post.title %>
		<br>
		<%= post.text %>
	</div>
	<br>
	<% end %>
</div>